:root {
    --alias-accent-400: var(--brand-colour-indigo-400);
    --alias-accent-default: var(--brand-colour-indigo-500);
    --alias-border-radius-100: var(--brand-scale-100);
    --alias-border-radius-200: var(--brand-scale-200);
    --alias-neutral-10: var(--brand-colour-grey-10);
    --alias-neutral-20: var(--brand-colour-grey-20);
    --alias-neutral-300: var(--brand-colour-grey-300);
    --alias-neutral-5: var(--brand-colour-grey-5);
    --alias-neutral-600: var(--brand-colour-grey-600);
    --alias-neutral-700: var(--brand-colour-grey-700);
    --alias-neutral-900: var(--brand-colour-grey-900);
    --alias-neutral-default: var(--brand-colour-grey-500);
    --alias-neutral-white: var(--brand-colour-grey-white);
    --alias-primary-default: var(--brand-colour-red-500);
    --alias-secondary-default: var(--brand-colour-blue-500);
    --alias-tertiary-600: var(--brand-colour-yellow-600);
    --alias-tertiary-900: var(--brand-colour-yellow-900);
    --body-l-font-family: "Roboto", Helvetica;
    --body-l-font-size: 18px;
    --body-l-font-style: normal;
    --body-l-font-weight: 400;
    --body-l-letter-spacing: 0px;
    --body-l-line-height: 139.9999976158142%;
    --body-label-medium-font-family: "Roboto", Helvetica;
    --body-label-medium-font-size: 18px;
    --body-label-medium-font-style: normal;
    --body-label-medium-font-weight: 500;
    --body-label-medium-letter-spacing: 0px;
    --body-label-medium-line-height: 24px;
    --body-m-font-family: "Roboto", Helvetica;
    --body-m-font-size: 16px;
    --body-m-font-style: normal;
    --body-m-font-weight: 400;
    --body-m-letter-spacing: 0px;
    --body-m-line-height: 139.9999976158142%;
    --body-primary-bold-font-family: "Roboto", Helvetica;
    --body-primary-bold-font-size: 16px;
    --body-primary-bold-font-style: normal;
    --body-primary-bold-font-weight: 700;
    --body-primary-bold-letter-spacing: 0px;
    --body-primary-bold-line-height: 24px;
    --body-primary-font-family: "Roboto", Helvetica;
    --body-primary-font-size: 16px;
    --body-primary-font-style: normal;
    --body-primary-font-weight: 400;
    --body-primary-letter-spacing: 0px;
    --body-primary-line-height: 24px;
    --body-primary-medium-font-family: "Roboto", Helvetica;
    --body-primary-medium-font-size: 16px;
    --body-primary-medium-font-style: normal;
    --body-primary-medium-font-weight: 500;
    --body-primary-medium-letter-spacing: 0px;
    --body-primary-medium-line-height: 24px;
    --body-s-font-family: "Roboto", Helvetica;
    --body-s-font-size: 14px;
    --body-s-font-style: normal;
    --body-s-font-weight: 400;
    --body-s-letter-spacing: 0px;
    --body-s-line-height: 139.9999976158142%;
    --body-secondary-font-family: "Roboto", Helvetica;
    --body-secondary-font-size: 14px;
    --body-secondary-font-style: normal;
    --body-secondary-font-weight: 400;
    --body-secondary-letter-spacing: 0px;
    --body-secondary-line-height: 18px;
    --body-secondary-medium-font-family: "Roboto", Helvetica;
    --body-secondary-medium-font-size: 14px;
    --body-secondary-medium-font-style: normal;
    --body-secondary-medium-font-weight: 500;
    --body-secondary-medium-letter-spacing: 0px;
    --body-secondary-medium-line-height: 18px;
    --body-small-font-family: "Roboto", Helvetica;
    --body-small-font-size: 12px;
    --body-small-font-style: normal;
    --body-small-font-weight: 400;
    --body-small-letter-spacing: 0px;
    --body-small-line-height: 16px;
    --body-XS-font-family: "Roboto", Helvetica;
    --body-xs-font-family: "Roboto", Helvetica;
    --body-XS-font-size: 12px;
    --body-xs-font-size: 10px;
    --body-XS-font-style: normal;
    --body-xs-font-style: normal;
    --body-XS-font-weight: 400;
    --body-xs-font-weight: 400;
    --body-XS-letter-spacing: 0px;
    --body-xs-letter-spacing: 0px;
    --body-XS-line-height: 139.9999976158142%;
    --body-xs-line-height: 12px;
    --body-XXS-font-family: "Roboto", Helvetica;
    --body-XXS-font-size: 10px;
    --body-XXS-font-style: normal;
    --body-XXS-font-weight: 400;
    --body-XXS-letter-spacing: 0px;
    --body-XXS-line-height: 139.9999976158142%;
    --brand-colour-blue-500: rgba(20, 143, 226, 1);
    --brand-colour-grey-10: rgba(247, 247, 247, 1);
    --brand-colour-grey-20: rgba(233, 233, 233, 1);
    --brand-colour-grey-300: rgba(136, 136, 136, 1);
    --brand-colour-grey-5: rgba(251, 251, 251, 1);
    --brand-colour-grey-500: rgba(102, 102, 102, 1);
    --brand-colour-grey-600: rgba(85, 85, 85, 1);
    --brand-colour-grey-700: rgba(68, 68, 68, 1);
    --brand-colour-grey-900: rgba(34, 34, 34, 1);
    --brand-colour-grey-white: rgba(255, 255, 255, 1);
    --brand-colour-indigo-400: rgba(77, 128, 229, 1);
    --brand-colour-indigo-500: rgba(59, 113, 220, 1);
    --brand-colour-red-500: rgba(227, 70, 71, 1);
    --brand-colour-yellow-600: rgba(235, 150, 0, 1);
    --brand-colour-yellow-900: rgba(148, 57, 0, 1);
    --brand-scale-100: 4px;
    --brand-scale-200: 8px;
    --button-m-font-family: "Roboto", Helvetica;
    --button-m-font-size: 16px;
    --button-m-font-style: normal;
    --button-m-font-weight: 500;
    --button-m-letter-spacing: 0.5px;
    --button-m-line-height: 100%;
    --button-s-font-family: "Roboto", Helvetica;
    --button-s-font-size: 14px;
    --button-s-font-style: normal;
    --button-s-font-weight: 500;
    --button-s-letter-spacing: 0.5px;
    --button-s-line-height: 100%;
    --collection-1-overlay: rgba(0, 0, 0, 0.35);
    --coolgray-60: rgba(105, 112, 119, 1);
    --coolgray-90: rgba(33, 39, 42, 1);
    --defaultwhite: rgba(255, 255, 255, 1);
    --greygrey-300: rgba(224, 224, 224, 1);
    --h3-font-family: "Roboto", Helvetica;
    --h3-font-size: 32px;
    --h3-font-style: normal;
    --h3-font-weight: 700;
    --h3-letter-spacing: 0px;
    --h3-line-height: 110.00000238418579%;
    --h5-font-family: "Roboto", Helvetica;
    --h5-font-size: 20px;
    --h5-font-style: normal;
    --h5-font-weight: 700;
    --h5-letter-spacing: 0px;
    --h5-line-height: 110.00000238418579%;
    --heading-1-font-family: "Roboto", Helvetica;
    --heading-1-font-size: 54px;
    --heading-1-font-style: normal;
    --heading-1-font-weight: 700;
    --heading-1-letter-spacing: 0px;
    --heading-1-line-height: 110.00000238418579%;
    --heading-2-font-family: "Roboto", Helvetica;
    --heading-2-font-size: 42px;
    --heading-2-font-style: normal;
    --heading-2-font-weight: 700;
    --heading-2-letter-spacing: 0px;
    --heading-2-line-height: 110.00000238418579%;
    --heading-h1-font-family: "Roboto", Helvetica;
    --heading-h1-font-size: 36px;
    --heading-h1-font-style: normal;
    --heading-h1-font-weight: 700;
    --heading-h1-letter-spacing: 0px;
    --heading-h1-line-height: 36px;
    --heading-h3-font-family: "Roboto", Helvetica;
    --heading-h3-font-size: 20px;
    --heading-h3-font-style: normal;
    --heading-h3-font-weight: 500;
    --heading-h3-letter-spacing: 0px;
    --heading-h3-line-height: 24px;
    --mapped-colours-border-information: var(--alias-accent-400);
    --mapped-colours-font-body: var(--alias-neutral-default);
    --mapped-colours-font-dark: var(--alias-neutral-700);
    --mapped-colours-font-extra-dark: var(--alias-neutral-900);
    --mapped-colours-font-medium: var(--alias-neutral-600);
    --mapped-colours-surface-action: var(--alias-secondary-default);
    --mapped-colours-surface-secondary: var(--alias-neutral-10);
    --mapped-colours-surface-tertiary-action: var(--alias-tertiary-600);
    --mapped-colours-text-action: var(--alias-secondary-default);
    --mapped-colours-text-marketplace-action: var(--alias-primary-default);
    --mapped-colours-text-on-action: var(--alias-neutral-white);
    --mapped-colours-text-tertiary-action: var(--alias-tertiary-900);
    --other-caption-font-family: "Roboto", Helvetica;
    --other-caption-font-size: 20px;
    --other-caption-font-style: normal;
    --other-caption-font-weight: 700;
    --other-caption-letter-spacing: 1px;
    --other-caption-line-height: 100%;
    --primary-60: rgba(15, 98, 254, 1);
    --primary-90: rgba(0, 29, 108, 1);
    --subtitle-m-font-family: "Roboto", Helvetica;
    --subtitle-m-font-size: 16px;
    --subtitle-m-font-style: normal;
    --subtitle-m-font-weight: 500;
    --subtitle-m-letter-spacing: 0px;
    --subtitle-m-line-height: 110.00000238418579%;
    --subtitle-s-font-family: "Roboto", Helvetica;
    --subtitle-s-font-size: 14px;
    --subtitle-s-font-style: normal;
    --subtitle-s-font-weight: 500;
    --subtitle-s-letter-spacing: 0px;
    --subtitle-s-line-height: 110.00000238418579%;
    --white: rgba(255, 255, 255, 1);
  }
  